# Módulo 3: Análisis exploratorio de los datos

## `Datetime`

### Revisión de datos generales

In [1]:
# cargar todas las librerias
import pandas as pd

In [2]:
# carga los datos
data_climate = pd.read_csv("DailyDelhiClimateTrain.csv")

https://www.kaggle.com/datasets/sumanthvrao/daily-climate-time-series-data

In [3]:
# información básica
data_climate.info()
data_climate.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1462 non-null   object
 1   meantemp      1462 non-null   float64
 2   humidity      1462 non-null   float64
 3   wind_speed    1462 non-null   float64
 4   meanpressure  1462 non-null   float64
dtypes: float64(4), object(1)
memory usage: 57.2+ KB

(1462, 5)

In [4]:
# primeros datos
data_climate.head(20)

          date   meantemp   humidity  wind_speed  meanpressure
0   2013-01-01  10.000000  84.500000    0.000000   1015.666667
1   2013-01-02   7.400000  92.000000    2.980000   1017.800000
2   2013-01-03   7.166667  87.000000    4.633333   1018.666667
3   2013-01-04   8.666667  71.333333    1.233333   1017.166667
4   2013-01-05   6.000000  86.833333    3.700000   1016.500000
5   2013-01-06   7.000000  82.800000    1.480000   1018.000000
6   2013-01-07   7.000000  78.600000    6.300000   1020.000000
7   2013-01-08   8.857143  63.714286    7.142857   1018.714286
8   2013-01-09  14.000000  51.250000   12.500000   1017.000000
9   2013-01-10  11.000000  62.000000    7.400000   1015.666667
10  2013-01-11  15.714286  51.285714   10.571429   1016.142857
11  2013-01-12  14.000000  74.000000   13.228571   1015.571429
12  2013-01-13  15.833333  75.166667    4.633333   1013.333333
13  2013-01-14  12.833333  88.166667    0.616667   1015.166667
14  2013-01-15  14.714286  71.857143    0.528571   1015.857143
15  2013-01-16  13.833333  86.666667    0.000000   1016.666667
16  2013-01-17  16.500000  80.833333    5.250000   1015.833333
17  2013-01-18  13.833333  92.166667    8.950000   1014.500000
18  2013-01-19  12.500000  76.666667    5.883333   1021.666667
19  2013-01-20  11.285714  75.285714    8.471429   1020.285714

### Conversión de string a `datetime`

Importante saber cómo está la información de la fecha, es decir, en qué formato se está presentando:
*   Año-Mes-Día
*   Año-Día-Mes
*   Día-Mes-Año

En este caso tenemos en el formato `%Y-%m-%d`

`%Y`

`%y`

`format='%Y-%m-%dZ%H:%M:%S'`

`%H`

`%h`

`%M`

`%S`

In [19]:
data_climate.columns

Index(['date', 'meantemp', 'humidity', 'wind_speed', 'meanpressure', 'weekday',
       'month', 'year'],
      dtype='object')

In [20]:
# cambiamos a datetime la columna `date`
data_climate["date"] = pd.to_datetime(data_climate["date"], format='%Y-%m-%d')

In [21]:
# tipos de datos
data_climate.dtypes

date            datetime64[ns]
meantemp               float64
humidity               float64
wind_speed             float64
meanpressure           float64
weekday                  int32
month                    int32
year                     int32
dtype: object

### Transformación de datos

De la columna `date` con tipo de dato `datetime64[ns]`, se puede sacar información de:
* Día de la semana (rango de 0 a 6 ; 1 a 7 - lunes a domingo)
* Día del mes (rango de 1 a 12 - enero a diciembre)
* Año (formato 4 dígitos)

In [8]:
# día de la semana de la publicación del anuncio
data_climate['weekday'] = data_climate["date"].dt.weekday
data_climate['month'] = data_climate["date"].dt.month
data_climate['year'] = data_climate["date"].dt.year

In [9]:
# primeros datos
data_climate.head()

,date,meantemp,humidity,wind_speed,meanpressure,weekday,month,year
0,2013-01-01,10.000000,84.500000,0.000000,1015.666667,1,1,2013
1,2013-01-02,7.400000,92.000000,2.980000,1017.800000,2,1,2013
2,2013-01-03,7.166667,87.000000,4.633333,1018.666667,3,1,2013
3,2013-01-04,8.666667,71.333333,1.233333,1017.166667,4,1,2013
4,2013-01-05,6.000000,86.833333,3.700000,1016.500000,5,1,2013