# Generar Usuarios

In [1]:
import pandas as pd
from faker import Faker
import random

In [3]:
fake = Faker('es_ES')  # o 'es_ES'

In [4]:
rango = range(1,138494)

In [5]:
data = []
userid = 0
for i in rango:
    nombre = fake.name()
    email = nombre.lower().replace(" ", ".") + "@ejemplo.com"
    edad = random.randint(18, 80)
    genero = random.choice(['M', 'F'])
    nogenre = random.choice([1, 0])
    action = random.choice([1, 0])
    adventure  = random.choice([1, 0])
    animation = random.choice([1, 0])
    children = random.choice([1, 0])
    comedy = random.choice([1, 0])
    crime = random.choice([1, 0])
    documentary = random.choice([1, 0])
    drama = random.choice([1, 0])
    fantasy = random.choice([1, 0])
    film_noir = random.choice([1, 0])
    horror = random.choice([1, 0])
    imax = random.choice([1, 0])
    musical   = random.choice([1, 0])
    mystery = random.choice([1, 0])
    romance = random.choice([1, 0])
    sci_fi = random.choice([1, 0])
    thriller = random.choice([1, 0])
    war_western  = random.choice([1, 0])

    provincia = random.choice( [
        "Azuay",
        "Bolívar",
        "Cañar",
        "Carchi",
        "Chimborazo",
        "Cotopaxi",
        "El Oro",
        "Esmeraldas",
        "Galápagos",
        "Guayas",
        "Imbabura",
        "Loja",
        "Los Ríos",
        "Manabí",
        "Morona Santiago",
        "Napo",
        "Orellana",
        "Pastaza",
        "Pichincha",
        "Santa Elena",
        "Santo Domingo de los Tsáchilas",
        "Sucumbíos",
        "Tungurahua",
        "Zamora Chinchipe"
    ])
    
    fila = [i, nombre, email, edad, genero, provincia, nogenre,action,adventure,animation,children,comedy,crime,documentary,drama,fantasy,film_noir,horror,imax,musical,mystery,romance,sci_fi,thriller,war_western]
    data.append(fila)

In [6]:
columnas = ['userid', 'nombre', 'email', 'edad', 'genero', 'provincia', 'nogenre','action','adventure','animation','children','comedy','crime','documentary','drama','fantasy','film_noir','horror','imax','musical','mystery','romance','sci_fi','thriller','war_western']

In [7]:
df = pd.DataFrame(data, columns=columnas)

In [8]:
df.head()

,userid,nombre,email,edad,genero,provincia,nogenre,action,adventure,animation,...,fantasy,film_noir,horror,imax,musical,mystery,romance,sci_fi,thriller,war_western
0,1,Jennifer Jove Coello,jennifer.jove.coello@ejemplo.com,39,M,Galápagos,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1,2,Abel Vall Maestre,abel.vall.maestre@ejemplo.com,21,M,Chimborazo,0,1,1,0,...,1,0,1,1,1,0,1,1,0,0
2,3,Pía Álvarez Somoza,pía.álvarez.somoza@ejemplo.com,47,M,Pichincha,0,1,1,0,...,1,1,0,0,1,1,1,1,1,0
3,4,Salomón Díaz Sosa,salomón.díaz.sosa@ejemplo.com,40,F,Santa Elena,0,1,0,1,...,0,1,0,1,1,1,0,1,1,0
4,5,Amor del Arévalo,amor.del.arévalo@ejemplo.com,63,M,Loja,1,1,1,0,...,0,0,1,1,0,1,1,1,1,1

In [9]:
# Guardado de tabla dimension usuarios temporal
df.to_csv(r"../data/process/usuarios.csv")