# Movies

In [42]:
import pandas as pd
import missingno as msno
import numpy as np

In [43]:
df = pd.read_csv(r"../data/movie.csv")

In [44]:
df.columns = df.columns.str.lower() # en minuscular
df.columns = df.columns.str.strip() # quitar espacios en blanco
df.head()

,movieid,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [45]:
# Total de registros
len(df)

27278

In [46]:
# Verificamos que no haya nulos
df.isna().sum()

movieid    0
title      0
genres     0
dtype: int64

In [47]:
rating = pd.read_csv(r"../data/partial_rating.csv")

In [48]:
rating.head()

   movieid  rating_promedio  rating_conteo
0        1         3.921240          49695
1        2         3.211977          22243
2        3         3.151040          12735
3        4         2.861393           2756
4        5         3.064592          12161

In [49]:
df = pd.merge(df, rating, on="movieid", how="left")

In [50]:
df.head()

,movieid,title,genres,rating_promedio,rating_conteo
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.921240,49695.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.211977,22243.0
2,3,Grumpier Old Men (1995),Comedy|Romance,3.151040,12735.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.861393,2756.0
4,5,Father of the Bride Part II (1995),Comedy,3.064592,12161.0

In [51]:
tags = pd.read_csv(r"../data/partial_tags.csv")

In [52]:
df = pd.merge(df, tags, on="movieid", how="left")

In [53]:
df.head()

,movieid,title,genres,rating_promedio,rating_conteo,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.921240,49695.0,"Watched, computer animation, Disney animated f..."
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.211977,22243.0,"time travel, adapted from:book, board game, ch..."
2,3,Grumpier Old Men (1995),Comedy|Romance,3.151040,12735.0,"old people that is actually funny, sequel feve..."
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.861393,2756.0,"chick flick, revenge, characters, chick flick,..."
4,5,Father of the Bride Part II (1995),Comedy,3.064592,12161.0,"Diane Keaton, family, sequel, Steve Martin, we..."

In [54]:
df = df.set_index('movieid')

In [55]:
df.head()

,title,genres,rating_promedio,rating_conteo,tag
movieid,,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.921240,49695.0,"Watched, computer animation, Disney animated f..."
2,Jumanji (1995),Adventure|Children|Fantasy,3.211977,22243.0,"time travel, adapted from:book, board game, ch..."
3,Grumpier Old Men (1995),Comedy|Romance,3.151040,12735.0,"old people that is actually funny, sequel feve..."
4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.861393,2756.0,"chick flick, revenge, characters, chick flick,..."
5,Father of the Bride Part II (1995),Comedy,3.064592,12161.0,"Diane Keaton, family, sequel, Steve Martin, we..."

In [56]:
# Guardado de tabla de hecho
df.to_csv(r"../data/h_movie.csv")