# Generar Usuarios

In [5]:
import pandas as pd
import missingno as msno
import numpy as np
from faker import Faker
import random

In [13]:
fake = Faker('en_US')  # o 'es_ES'

In [14]:
rango = range(1,138494)

In [15]:
data = []
userid = 0
for i in rango:
    nombre = fake.name()
    email = nombre.lower().replace(" ", ".") + "@ejemplo.com"
    edad = random.randint(18, 80)
    genero = random.choice(['M', 'F'])
    pais = fake.country()
    
    fila = [i, nombre, email, edad, genero, pais]
    data.append(fila)

In [16]:
columnas = ['userid', 'nombre', 'email', 'edad', 'genero', 'pais']

In [17]:
df = pd.DataFrame(data, columns=columnas)

In [18]:
df.head()

,userid,nombre,email,edad,genero,pais
0,1,John Lloyd,john.lloyd@ejemplo.com,24,F,Honduras
1,2,Tracy Fields,tracy.fields@ejemplo.com,29,M,Marshall Islands
2,3,Brandon Carter,brandon.carter@ejemplo.com,31,M,Hong Kong
3,4,Brenda Richardson,brenda.richardson@ejemplo.com,79,M,Bahrain
4,5,Thomas Velez,thomas.velez@ejemplo.com,26,M,Ecuador

In [19]:
# Guardado de tabla dimension usuarios temporal
df.to_csv(r"../data/d_usuarios.csv")