# Movies

In [2]:
import pandas as pd
import missingno as msno
import numpy as np

In [4]:
df = pd.read_csv(r"../data/movie.csv")

In [5]:
df.columns = df.columns.str.lower() # en minuscular
df.columns = df.columns.str.strip() # quitar espacios en blanco
df.head()

,movieid,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
# Total de registros
len(df)

27278

In [8]:
# Verificamos que no haya nulos
df.isna().sum()

movieid    0
title      0
genres     0
dtype: int64