# Movies

In [2]:
import pandas as pd
import missingno as msno
import numpy as np

In [ ]:
df = pd.read_csv(r"../data/movie.csv")

In [4]:
df.columns = df.columns.str.lower() # en minuscular
df.columns = df.columns.str.strip() # quitar espacios en blanco
df.head()

,movieid,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
# Total de registros
len(df)

27278

In [6]:
# Verificamos que no haya nulos
df.isna().sum()

movieid    0
title      0
genres     0
dtype: int64

In [13]:
rating = pd.read_csv(r"../data/partial_rating.csv")

In [14]:
rating.head()

   movieid  rating_promedio  rating_conteo
0        1         3.921240          49695
1        2         3.211977          22243
2        3         3.151040          12735
3        4         2.861393           2756
4        5         3.064592          12161

In [15]:
h_movie = pd.merge(df, rating, on="movieid", how="left")

In [16]:
h_movie.head()

,movieid,title,genres,rating_promedio,rating_conteo
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.921240,49695.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.211977,22243.0
2,3,Grumpier Old Men (1995),Comedy|Romance,3.151040,12735.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.861393,2756.0
4,5,Father of the Bride Part II (1995),Comedy,3.064592,12161.0

In [17]:
# Guardado de tabla de hecho
h_movie.to_csv(r"../data/h_movie.csv")